body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 88, 122);
    
}


                     /* WHATSAPP  */
nav{
    width: 100%;
display: flex;
justify-content: flex-end;
}

.contact {
    margin: 14px 20px 0px 0px ; 
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color:#25D366;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid rgb(37, 211, 102);
    
    
}

.contact:hover{
    background-color:rgb(11, 161, 66);
    border: 2px solid rgb(11, 161, 66);

  }
  
  @keyframes rotate {
    0% {
    
      opacity: 0;
    }
    100% {
   
      opacity: 1;
    }
  }


.contact a{
    color: white;
    animation: rotate 0.7s infinite 
    alternate;
}

                            /* HEADER  */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.9px;
    height: 25vh;
    
    
}
header h1{
    text-align: center;
    font-size: 4rem;
    font-family: 'Courgette', cursive;
    margin-top: 10vh;
}


.welcome{
    text-align: center;
    margin-bottom: 10vh;
    font-family: 'Roboto Condensed', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}
.sec{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 0.4px;
    width: 290px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 5px 15px 5px ;  
    opacity: 111;
    border-radius: 20px;
}

.sec h1{
    text-align: center;

}



.sm-icons{
    text-align: center;
}


.sm-icons a{
    padding: 0px 10px;
    cursor: pointer;
    color: white;
}

.fa-instagram:hover{
    color: rgb(188, 42, 141);
    
}
.fa-facebook-official:hover{
    color: rgb(27, 79, 192); 

}
.fa-twitter:hover{
    color: rgb(4, 182, 247);

}
.fa-linkedin:hover{
    color: rgb(0, 115, 168);

}



                                /* FOOTER  */

footer{
    height: 4vh;
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 1.4rem;
   
}
